{% block content %}


<style>
  .error { color: red; }
</style>
<h1>Signup</h1>
<form method='post'>
  <table>
    <tr>
        <td>
          <label for='username'>Username:</label>
        </td>
        <td>
          <input name='username' type='text' value={{username}} >
          <span class='error'>{{username_error}}</span>
        </td>
    </tr>
    <tr>
        <td>
          <label for='password'>Password:</label>
        </td>
        <td>
          <input name='password' type='text' placeholder />
          <span class='error'>{{password_error}}</span>
        </td>
    </tr>
    <tr>
        <td>
          <label for='verifyPassword'>Verify Password:</label>
        </td>
        <td>
          <input name='verifyPassword' type='text' placeholder />
          <span class='error'>{{verifyPassword_error}}</span>
        </td>
    </tr>
    <tr>
        <td>
          <label for='email'>Email (optional):</label>
        </td>
        <td>
          <input id='email' type='text' name='email' value={{email}} >
          <span class='error'>{{email_error}}</span>
        </td>
    </tr>
  </table>
  <input type='submit'  />
</form>
{% endblock %}
